#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: helvetica;
}

form {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

input {
  min-height: 30px;
}

.decks {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.decks div {
  position: relative;
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  background-color: #292929;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.decks button {
  font-size: 16px;
  color: white;
  background-color:  #292929;
  position: absolute;
  top: 5px;
  right: 3px;
}
